.Pagination {
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: flex-end;
	grid-area: pagination;
}

.CurrentPage {
	font-size: 3rem;
	color: salmon;
}

.TotalPages {
	font-size: 1.6rem;
	color: orange;
	position: relative;
}

.TotalPages::before {
	content: '-';
	display: block;
	position: absolute;
	left: -10px;
	top: 0;
}

@media screen and (max-width: 780px) {
	.Pagination {
		justify-content: flex-end;
	}
}

@media screen and (max-width: 380px) {
	.Pagination {
		display: none;
	}
}