.Contacts {
	color: #000;
	text-decoration: none;
	text-align: right;
	overflow-x: visible;
	grid-area: contacts;
	font-size: 1rem;
	white-space: nowrap;
}

@media screen and (max-width: 380px) {
	.Contacts {
		display: none;
	}
}